@use '@/styles/mixins' as *;

.actions {
  @include flex(flex, space-between, center);

  flex-shrink: 0;
  padding: modal-fluid(0.75rem) 1.4rem modal-fluid(1rem) 1rem;
  border-top: 1px solid var(--color-dark-100);
}

.leftActions {
  @include flex(flex, flex-start, center);

  gap: 1.6rem;
}

.actionButton {
  cursor: pointer;

  display: flex;
  flex-shrink: 0;

  padding: 0;
  border: none;

  color: var(--color-light-100);

  background: transparent;
}

@include media-tablet {
  .actions {
    padding: 0.75rem 0 1.18rem;
  }

  .leftActions {
    gap: 0.75rem;
  }
}
