.pageWrapper {
  display: flex;
  justify-content: center;
  padding-top: 2.25rem;
}

.formContainer {
  width: 100%;
  max-width: 24rem;
  padding: 1.5rem;
}

.fieldsGroup {
  margin-bottom: 1.5rem;
}
