@use '@/styles/mixins' as *;

.root {
  padding: 1.5rem 0 3rem;

  @include media-tablet-small {
    padding: 1rem 0 2rem;
  }
}

.photoSlot {
  flex-shrink: 0;
  width: 12rem;

  @include media-tablet-small {
    width: 100%;
  }
}
