@use '@/styles/mixins' as *;

.modal {
  width: min($modal-width-s, calc(100vw - 2rem));
}

.confirmation {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

.controls {
  @include flex(flex, space-between, сenter);

  button {
    min-width: 6.75rem;
  }
}
