.widget {
  position: relative;

  display: inline-flex;
  flex-direction: column;
  gap: 0.75rem;

  box-sizing: border-box;
  min-height: 6.25rem;
}

.errorBorder {
  padding: 0.5rem;
  border: 1px solid var(--color-danger-500);
}
