@use '@/styles/mixins' as *;

.pageWrapper {
  @include flex(flex, center, center);

  min-height: 100vh;
  padding: 2.25rem 1rem;
  background-color: var(--color-dark-900);
}

.formContainer {
  @include flex(flex);

  flex-direction: column;
  gap: 1rem;

  box-sizing: border-box;
  width: 100%;
  max-width: 23.625rem;
  min-height: 24rem;
  padding: 1.5rem;
  border: 1px solid var(--color-dark-300);
  border-radius: 4px;

  background-color: var(--color-dark-500);

  input {
    outline: none !important;
  }
}

.description {
  max-width: 20rem;
  margin: -0.25rem auto 0;
}

.fieldsGroup {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 0.5rem;
}

.fieldControl {
  min-height: 5.875rem;
}

.formContainer input:-webkit-autofill,
.formContainer input:-webkit-autofill:hover,
.formContainer input:-webkit-autofill:focus,
.formContainer input:-webkit-autofill:active {
  box-shadow: 0 0 0 1000px var(--color-dark-500) inset !important;
  transition: background-color 5000s ease-in-out 0s;

  -webkit-text-fill-color: var(--color-light-100) !important;
}
