@use '@/styles/mixins' as *;

.container {
  @include container;
}

.caption {
  max-width: 18.375rem;

  @include media-mobile {
    max-width: none;
  }
}

.button {
  width: 100%;
  max-width: 15rem;
  margin: 1.875rem auto 2.25rem;

  @include media-mobile {
    max-width: none;
  }
}

.image {
  display: block;
  margin: 0 auto;

  @include media-tablet {
    width: 100%;
    max-width: 330px;
    height: auto;
  }
}
