@use '@/styles/mixins' as *;

.modal {
  width: min($modal-width-s, calc(100vw - 2rem));
  background: var(--color-dark-300);
  filter: brightness(0.5);

  @include media-mobile {
    background: var(--color-dark-300);
    filter: none;
  }
}

:global([class*='_overlay_']:has(+ [data-blurred-backdrop])) {
  z-index: 103;
}

:global([data-blurred-backdrop][role='dialog']) {
  z-index: 104;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;

  .message {
    text-align: left;

    @include media-mobile {
      text-align: center;
    }
  }
}

.controls {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;

  button {
    min-width: 6rem;
  }

  button:first-child {
    border-color: var(--color-accent-900);
    color: var(--color-accent-900);
  }

  button:last-child {
    color: var(--color-light-900);
    background-color: var(--color-accent-900);
  }

  @include media-mobile {
    flex-direction: column;

    button {
      width: 100%;
    }

    button:first-child {
      border: 1px solid var(--color-accent-500);
      color: var(--color-accent-500);
      background-color: transparent;
    }

    button:last-child {
      border: 2px solid transparent;
      color: var(--color-light-100);
      background-color: var(--color-accent-500);
    }
  }
}
