@use '@/styles/mixins' as *;

.root {
  @include flex(flex, null, null);

  flex-direction: column;
  gap: 1.5rem;
  padding-top: 1.5rem;
}

.postsGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 0.75rem;
  align-items: start;

  @include media-tablet {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include media-mobile {
    grid-template-columns: 1fr;
  }
}

.postsGrid[data-hidden='true'] {
  display: none;
}

.errorMessage {
  @include typography(16px, 24px, 400);

  color: var(--color-light-100);
}
