@use '@/styles/mixins' as *;

.tabs {
  width: 100%;
  padding-top: 2.25rem;

  @include media-tablet {
    padding-top: 1.5rem;

    :global([role='tab']) {
      gap: 0 !important;
      min-width: 0 !important;
      padding: 0 0.5rem;
      font-size: 0 !important;
    }

    :global([role='tab'] svg) {
      display: block !important;
    }
  }
}
