@use '@/styles/mixins' as *;

.selectImagesContent {
  position: absolute;

  display: flex;

  min-width: 8.25rem;
  max-width: 21rem;
  height: 7.5rem;
  padding: 0.75rem 3.75rem 0.75rem 0.75rem;

  opacity: 0.8;

  @include bottom-right(3.125rem, 0.75rem);

  @include media-tablet {
    max-width: 15.25rem;
    height: 5rem;
  }
}

.addImageButton {
  position: absolute;

  @include top-right(0.75rem);
}

.iconButton {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;

  @include flex(flex, center, center);
  @include transition-basic(transform, color);

  &:hover {
    transform: scale(1.07);
    color: var(--color-accent-500);
  }
}

.addIcon {
  padding: 0.175rem;
  border-radius: 2px;
  opacity: 0.8;
}

.selectImagesBlock {
  // padding: 0.125rem 0.125rem 0.125rem 0;

  scrollbar-color: var(--color-dark-300) transparent;
  scrollbar-width: thin;

  overflow: auto hidden;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.7rem;
  align-items: center;

  max-width: 100%;

  &::-webkit-scrollbar {
    height: 0.25rem;
    background: transparent;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.9rem;
    background: var(--color-dark-300);
  }

  &::-webkit-scrollbar-button {
    display: none;

    @include width-height(0);
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.selectImageItem {
  cursor: pointer;

  position: relative;

  overflow: hidden;
  flex-shrink: 0;

  margin-bottom: 0.25rem;

  @include width-height(5rem, 5.125rem);
  @include transition-basic(filter);

  &:hover {
    .imagePreview {
      filter: sepia(0.6);
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include media-tablet {
    width: 3.375rem;
    height: 3.5rem;
  }
}

.active {
  border: 2px solid var(--color-success-500);
  border-radius: 2px;
}

.iconButton {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;

  @include flex(flex, center, center);
  @include transition-basic(transform, color);

  &:hover {
    transform: scale(1.07);
    color: var(--color-accent-500);
  }
}

.imageDeleteButton {
  position: absolute;

  @include top-right(0.25rem);
}

.icon {
  border-radius: 2px;
  opacity: 0.8;
}
