.temporaryEmptyClass {
  display: block;
}

.locationViewport {
  scrollbar-color: var(--color-dark-300) transparent;
  scrollbar-width: thin;
  overflow-y: auto;
  max-height: var(--radix-select-content-available-height);

  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.9rem;
    background: var(--color-dark-300);
  }
}
