.container {
  min-height: 100%;
  padding-top: 2rem;
}

.title {
  margin-bottom: 1.5rem;

  font-size: 2rem;
  font-weight: bold;
  color: var(--color-light-100);
  text-align: center;
}

.subtitle {
  margin-bottom: 3rem;
  font-size: 1rem;
  color: var(--color-light-500);
  text-align: center;
}

.sampleBlock {
  height: 10rem;
  background-color: var(--color-dark-300);
}
