@use '@/styles/mixins' as *;

.layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.container {
  display: flex;
  flex: 1;
  gap: 1.5rem;
  width: 100%;
}

.sidebar {
  margin-left: 3.75rem;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.content {
  @include content;
}

.contentAuthenticated {
  flex: 1;
  align-self: stretch;
  max-width: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-right: 3.75rem;
  }

  @media (max-width: $tablet-width) {
    @include container;
  }
}
