@use '@/styles/mixins' as *;

.layout {
  @include container;

  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.containerAuthenticated {
  gap: 1.5rem;
}

.sidebar {
  position: sticky;
  top: 3.75rem;
  flex-shrink: 0;
  height: calc(100vh - 3.75rem);

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.content {
  width: 100%;
  max-width: $content-width;
  margin: 0 auto;
}
